## *Import Libraries*

In [1]:
import pandas as pd
import numpy as np
import string
import warnings

In [2]:
warnings.filterwarnings("ignore")

### *Load Data*

In [4]:
df = pd.read_csv("C:/Users/PC/Desktop/Car-Price-Proyect/data/car_clear.csv")

In [5]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,manufacturer
0,Fiesta,2017,12000,Automatic,15944,Petrol,150,57.7,1.0,Ford
1,Focus,2018,14000,Manual,9083,Petrol,150,57.7,1.0,Ford
2,Focus,2017,13000,Manual,12456,Petrol,150,57.7,1.0,Ford
3,Fiesta,2019,17500,Manual,10460,Petrol,145,40.3,1.5,Ford
4,Fiesta,2015,10500,Manual,35432,Petrol,145,47.9,1.6,Ford

### *One Hot Encoding*

<img src = "https://www.statology.org/wp-content/uploads/2021/09/oneHot1.png">

It consists of creating several dummy variables. According to the number of categories of the variable to transform.It consists of creating several dummy variables. According to the number of categories of the variable to transform. If the observation meets the category, it will be assigned a 1 and the other columns will be filled with a 0.

In [6]:
def OHE():
    
    manufacturer_ohe = pd.get_dummies(df.manufacturer)
    model_ohe = pd.get_dummies(df.model)
    transmission_ohe = pd.get_dummies(df.transmission)
    fuelType_ohe = pd.get_dummies(df.fuelType)
    
    return manufacturer_ohe,model_ohe,transmission_ohe,fuelType_ohe

In [7]:
def concatene_df():
    
    manufacturer_ohe,model_ohe,transmission_ohe,fuelType_ohe = OHE()
    
    new_df = pd.concat([manufacturer_ohe,model_ohe,transmission_ohe,df.year,
                        fuelType_ohe,df.engineSize,
                        df.mileage,df.tax,df.mpg,df.price],axis = 'columns')
    return new_df

In [8]:
df_ohe = concatene_df()

## *Remove White Spaces*

In [9]:
columns = df_ohe.columns

In [10]:
columns

Index(['Audi', 'BMW', 'Ford', 'Hyundi', 'Mercedes-Benz', 'Toyota', ' 1 Series',
       ' 2 Series', ' 3 Series', ' 4 Series',
       ...
       'Semi-Auto', 'year', 'Diesel', 'Hybrid', 'Petrol', 'engineSize',
       'mileage', 'tax', 'mpg', 'price'],
      dtype='object', length=120)

Some variables have blank spaces. For which I will eliminate these spaces. Since when generating new predictions it can be uncomfortable to enter the data.

In [11]:
 remove_spaces_columns = [column.strip(' ') for column in columns]

In [12]:
remove_spaces_columns

['Audi',
 'BMW',
 'Ford',
 'Hyundi',
 'Mercedes-Benz',
 'Toyota',
 '1 Series',
 '2 Series',
 '3 Series',
 '4 Series',
 '5 Series',
 '6 Series',
 '7 Series',
 '8 Series',
 'A Class',
 'A1',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'Auris',
 'Avensis',
 'Aygo',
 'B Class',
 'B-MAX',
 'C Class',
 'C-HR',
 'C-MAX',
 'CL Class',
 'CLA Class',
 'CLS Class',
 'Camry',
 'Corolla',
 'E Class',
 'EcoSport',
 'Edge',
 'Fiesta',
 'Focus',
 'Fusion',
 'G Class',
 'GL Class',
 'GLA Class',
 'GLC Class',
 'GLE Class',
 'GLS Class',
 'GT86',
 'Galaxy',
 'Grand C-MAX',
 'Grand Tourneo Connect',
 'Hilux',
 'I10',
 'I20',
 'I30',
 'I40',
 'I800',
 'IX20',
 'IX35',
 'Ioniq',
 'KA',
 'Ka+',
 'Kona',
 'Kuga',
 'Land Cruiser',
 'M Class',
 'M2',
 'M3',
 'M4',
 'M5',
 'Mondeo',
 'Mustang',
 'Prius',
 'Q2',
 'Q3',
 'Q5',
 'Q7',
 'Q8',
 'R8',
 'RAV4',
 'RS3',
 'RS4',
 'RS5',
 'RS6',
 'S Class',
 'S-MAX',
 'S3',
 'SL CLASS',
 'SLK',
 'SQ5',
 'Santa Fe',
 'TT',
 'Tourneo Connect',
 'Tourneo Custom',
 'Tucson',
 'V Class',
 'Verso',
 'X-CLASS',
 'X1',
 'X2',
 'X3',
 'X4',
 'X5',
 'X6',
 'X7',
 'Yaris',
 'Z4',
 'i8',
 'Automatic',
 'Manual',
 'Semi-Auto',
 'year',
 'Diesel',
 'Hybrid',
 'Petrol',
 'engineSize',
 'mileage',
 'tax',
 'mpg',
 'price']

In [13]:
df_ohe.columns = remove_spaces_columns

In [14]:
df_ohe.columns[:10]

Index(['Audi', 'BMW', 'Ford', 'Hyundi', 'Mercedes-Benz', 'Toyota', '1 Series',
       '2 Series', '3 Series', '4 Series'],
      dtype='object')

## **Save CSV File**

In [15]:
df_ohe.to_csv("C:/Users/PC/Desktop/Car-Price-Proyect/data/cars_ohe.csv",index = False)